<section class="details-post-container">
<div class="details-post">
   <h4><%= @post.title %> by <%= @user.name %></h4>
   <div class="details-post-comments-counter">
   
   <% if can? :destroy, @post %>
     <%= button_to "Delete", user_post_path(@user, @post), method: :delete,  data: { turbo_method: :delete, confirm: 'Are you sure?' }%>
   <% end %>
   <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form| %>
   <%= form.submit "Like" %>
<% end %>


     <span>Comments: <%= @post.comments_counter %></span>
     <span>Likes: <%= @post.likes_counter %></span>
   </div>   
   <div>
      <p><%=@post.text%></p>
   </div>
</div>  
<div class="details-comments">
<% @post.comments.each do |comment| %>
   <span><%= comment.user.name %>: <%= comment.text %></span>

<% end %>
</div>
</section>
<a href="<%= new_user_post_comment_path(@user, @post) %>">
  <button class="create-comment-btn">create new comment</button>
</a>